@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* Custom styles for Slick carousel */
.slick-dots {
  bottom: 25px;
}

.slick-dots li button:before {
  color: white;
  font-size: 12px;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

/* Fade animation for slides */
.slick-fade {
  opacity: 0;
  transition: opacity 1000ms ease;
}

.slick-fade.slick-active {
  opacity: 1;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

.content {
  @apply text-base;
}

button {
  @apply text-sm;
}

